  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
      margin: 0%;
      padding: 0%;
  }

  a {
      color: black;
      text-decoration: none;
  }

  body {
      font-family: 'Roboto', sans-serif;
  }

  /* .navbar-logo{

} */

  .alert-close-btn-icon:focus {
      display: none;
  }

  img {
      width: 100%;
  }


  .hero-alert {
      background: linear-gradient(to right, #6B40E7,
              #60A7F8, #9C6DF4, #7F09FF, #DBA6C3);
  }

  .hero-alert-text {
      font-weight: 700;
      letter-spacing: 0.5px;
  }

  .hero-alert-text i {
      font-size: 15px;

  }

  .navbar-btn-parent {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-right: 55px;
  }

  .navbar-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 0.5px;
  }

  .navbar-btn i {
      font-size: 10px;
      color: #201926;

  }

  .navbar-login {
      color: rgb(110, 110, 110);
      font-weight: 400;
  }

  .navbar-slack {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 10px 20px;
      box-shadow: 2px 0px 20px -10px;
  }

  .navbar-slack img {
      max-width: 25px;
  }

  .navbar-brand-btn-parent {
      /* background-color:peachpuff; */
      width: 100%;



  }

  .navbar-demo {
      background-color: #7A00FF;
      color: white;
      font-weight: 500;
      padding: 10px 15px;
      border-radius: 7px;
  }

  .navbar-login-btn-responsive {
      background-color: #6A4AE9;
      color: white;
      padding: 13px 30px;
      font-size: 18px;
      border-radius: 7px;

      position: absolute;
      top: 0;
      right: 80px;
  }

  .hero-heading {
      font-size: 60px;
      font-weight: 900;
  }

  .hero-para {
      font-size: 20px;
      color: #404040;
  }


  .text-gray {
      color: rgb(150, 150, 150) !important;
  }

  .hero-input {
      border: 1px solid transparent;
      width: 100%;
      padding: 20px 30px;
      max-width: 320px;
      outline: none;
      box-shadow: 2px 0px 20px -10px;
      border-radius: 10px 0 0 10px;
      font-weight: 400;
  }

  .hero-input::placeholder {
      color: #797979;
      font-weight: 500;
  }

  .hero-input-btn {
      background-color: #6A4AE9;
      color: white;
      font-size: 18px;
      font-weight: 500;
      padding: 20px 30px;
      border-radius: 0 10px 10px 0;
  }

  .hero-g2-logo {
      max-width: 20px;
  }

  .fa-solid {
      display: flex;
      align-items: center;
  }

  .hero-g2-star {
      font-size: 15px;
      color: orangered;
  }

  .hero-play-icon-btn {
      color: white;
      background-color: black;
      font-size: 7px;
      padding: 7px 8px;
      border-radius: 100px;
  }

  .hero-play-text-btn {
      color: #494B5E;
      text-decoration: underline;
      font-weight: 500;
      font-size: 17px;
  }

  .gradient-bg {
      position: absolute;
      top: 0;
      width: 100%;
      /* height: 100%; */
      height: 100%;
      left: 0;
  }

  .mixpanel-logo {
      max-width: 150px;
      opacity: 0.8;
  }

  .text-collab-heading {
      font-size: 30px;
      font-weight: 600;
      background-image:
          linear-gradient(to right, #B37AEC, #FDFCFF, #DDC0F7);
      /* Adjust the gradient colors */
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
  }


  .g2-bages-img {
      max-width: 100px !important;
  }

  .gradient-bg-parent{
    margin-top: 330px;
  }

  .hero-img{
    margin-top: -400px;
  }







  @media screen and (max-width:1400px) {

      .navbar-btn-parent {
          flex-direction: column;
          margin-right: 0px !important;
      }

      .navbar-brand-btn-parent {
          padding-top: 30px;

          justify-content: center;
          text-align: center;
      }

  }

  @media screen and (max-width:1200px) {
      .mixpanel-logo {
          max-width: 120px;
      }

      .hero-img{
        margin-top: -350px;
      }

      .gradient-bg-parent{
        margin-top: 280px;
      }

  }

  @media screen and (max-width:992px) {
    .hero-img{
        margin-top: -300px;
    }

    .gradient-bg-parent{
        margin-top: 220px;
    }
}

  @media screen and (max-width:770px) {
      .hero-heading {
          font-size: 50px;
      }
  }

  @media screen and (max-width:768px) {
    .hero-img{
        margin-top: -230px;
    }

    .gradient-bg-parent{
         margin-top: 150px;
    }

  }

  @media screen and (max-width:800px) {

      .hero-alert-text {
          font-size: 12px;
      }

  }

  @media screen and (max-width:500px) {

      .email-div-parent {
          flex-direction: column;
      }

      .hero-input {
          border-radius: 10px;
          max-width: 100%;

      }

      .hero-input-btn {
          width: 100%;
          text-align: center;
          border-radius: 10px;
      }

  }

  @media screen and (max-width:577px) {}


  @media screen and (max-width:470px) {
      .hero-heading {
          font-size: 40px;
      }
  }


  @media screen and (max-width:450px) {
      .navbar-brand-btn-parent {
          flex-direction: column;
          width: 100%;
      }

      .navbar-slack {
          width: 100%;
          text-align: center;
          justify-content: center;
      }

      .navbar-demo {
          width: 100%;
          text-align: center;
          justify-content: center;
      }
  }

  @media screen and (max-width:395px) {
      .hero-g2-parent {
          flex-direction: column;
          gap: 10px !important;
      }
  }