  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
      margin: 0%;
      padding: 0%;
  }

  p {
      margin: 0 !important;
  }

  a {
      color: black;
      text-decoration: none;
  }

  body {
      font-family: 'Roboto', sans-serif;
  }

  .alert-close-btn-icon:focus {
      display: none;
  }

  .fs-18 {
      font-size: 18px ;
  }

  .text-gray {
      color: #9FA1AA;
  }

  .radius-left {
      border-radius: 10px 0 0 10px;
  }

  .radius-right {
      border-radius: 0 10px 10px 0;
  }

  .outline-none {
      outline: none;
  }

  .bg-purple {
      background-color: #7A00FF;
  }

  .fs-20 {
      font-size: 20px;
  }

  .fw-500 {
      font-weight: 500;
  }

  img {
      width: 100%;
  }

  .hero-alert {
      background: linear-gradient(to right, #6B40E7, #60A7F8, #9C6DF4, #7F09FF, #DBA6C3);
  }

  .hero-alert-text i {
      font-size: 15px;
  }

  .navbar-btn i {
      font-size: 10px;
  }

  .navbar-login {
      color: rgb(110, 110, 110);
      font-weight: 400;
  }

  .navbar-slack img {
      max-width: 25px;
  }

  .web-color {
      background-color: #7A00FF;
  }

  .web-text{
      color: #7A00FF;
  }

  .navbar-login-btn-responsive {
      right: 80px;
  }

  .pt-60 {
      padding-top: 60px;
  }

  .fs-14{
    font-size: 14px;
  }

  .fs-60 {
      font-size: 60px;
  }

  .bg-gray{
   background-color: #F8F8F8;
  }

  .py-20 {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .g2-color {
      color: #EF4729 !important;
  }

  .fs-24 {
      font-size: 24px;
  }

  .w-60 {
      max-width: 60px !important;
  }

  .hero-section .fa-play {
      font-size: 7px;
  }

  .fs-50{
    font-size: 50px;
  }

  .section1-bg {
      background-image: url(gradient.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 300px;
  }

  .section1-bg .hero-img {
      margin-top: -300px;
  }

  .section1-bg .col-2 img {
      max-width: 150px;
  }

  .section1-bg .col-12 h1 {
      background: linear-gradient(to right, rgb(209, 208, 208), white, rgb(209, 208, 208));
      background-clip: text;
      color: transparent;
  }

  .g2-section .col-4 img {
      max-width: 100px;
  }

  .mySwiper1 {
      background-color: rgba(255, 255, 255, .69);
  }

  .mySwiper1 .swiper-slide img {
      max-width: 200px;
  }

  .effortless-bg{
    background:linear-gradient(to top ,#3B137A,#2B1954);
  }


.section2-bg{
    background:linear-gradient(to bottom, white,#F8F8F8);
}

.sction3-img-div img:hover{
    transform: scale();
}

.section3 .row .col-4 h1{
    color: transparent;
    background: linear-gradient(to bottom, #8E11FF, #D768FF);
    -webkit-background-clip: text;
    background-clip: text;
}

.slack-support-bg{
    background: linear-gradient(to bottom,#640FC5 120px,#B268DF);
}

.w-130{
    max-width: 150px;
    height: 130px !important;
}

.bg-orange{
    background-color: #FF7845;
}

.bg-green{
    background-color:#00B592;
}

.best-practise-img{
height: 100%;
max-height: 535px;
}
















@media screen and (max-width:1200px) {
    .best-practise-img{
        max-height: 100%;
        }
        
}

  @media screen and (max-width:990px) {
      .fs-60 {
          font-size: 50px;
      }

      .fs-20 {
          font-size: 17px;
      }

      .py-20 {
          padding-top: 17px;
          padding-bottom: 17px;
      }

      .section1-bg {
          margin-top: 200px !important;
      }

      .section1-bg .hero-img {
          margin-top: -200px !important;
      }

      .fs-50{
        font-size: 40px;
      }
  }

  @media screen and (max-width:770px) {
      .fs-60 {
          font-size: 40px;
      }

      .fs-20 {
          font-size: 16px;
      }

      .fs-18 {
          font-size: 16px;
      }

      .section1-bg {
          margin-top: 100px !important;
      }

      .section1-bg .hero-img {
          margin-top: -100px !important;
      }
  
      .effortless-bg input , a{
        border-radius:10px !important;  
        width: 100%;
      }
            .fs-50{
        font-size: 30px;
      }

    }

  @media screen and (max-width:576px) {
      .w-100-576 {
          width: 100%;
      }

      .fs-60 {
          font-size: 30px;
      }

      .radius-10 {
          border-radius: 10px !important;
      }

      .fs-20 {
          font-size: 15px;
      }

      .fs-18 {
          font-size: 14px;
      }

      .slack-input{
        width: 100%;
      }
  }



  @media screen and (max-width:450px) {
      .navbar-brand-btn-parent {
          flex-direction: column;
          width: 100%;
      }

      .navbar-slack {
          width: 100%;
          text-align: center;
          justify-content: center;
      }

      .navbar-demo {
          width: 100%;
          text-align: center;
          justify-content: center;
      }

      .mySwiper1 .swiper-slide .fs-24 {
          font-size: 18px;
      }

      .mySwiper1 .swiper-slide img {
          max-width: 100px;
      }
  }